<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2>Sign up as a student</h2>
        <div class="row">
          <div class="col-md-6">
            <p>Already have an account?</p>
          </div>
          <div class="col-md-6 text-right">
            <a href="/en/login?source_page=home&amp;source_element=header" class="btn btn-link">Log in</a>
          </div>
        </div>
        <hr>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Your name" autocomplete="off" value="">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Your email" autocomplete="off" value="">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Your password">
          </div>
          <div class="form-check">
            <input type="checkbox" checked="" class="form-check-input" id="remember-me-checkbox">
            <label class="form-check-label" for="remember-me-checkbox">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <hr>
        <p>By clicking Continue with or Sign up, you agree to Preply <a href="https://termsofuse.preply.com/terms_of_use/en_TermsOfService.pdf" target="_blank">Terms of Service including Subscription Services Terms</a> and <a href="https://termsofuse.preply.com/terms_of_use/en_PrivacyPolicy.pdf" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>