<div class="footer">
    <footer >
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5>About Us</h5>
              <ul class="list-unstyled">
                <li><a href="https://preply.com/en/about-us">Who we are</a></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://preply.com/en/help/howitworks')">How it works</button></li>
                <li><a href="https://preply.com/en/reviews">Preply reviews</a></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://preply.com/en/careers')">Work at Preply!</button></li>
                <li><a href="https://preply.com/en/preply-global">Preply Global</a></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://status.preply.com/')">Status</button></li>
                <li><a href="https://preply.com/en/preply-live">Preply Live</a></li>
                <li><a href="https://preply.com/en/d/language-research-center--lp">Language Research Center</a></li>
                <li><a href="https://preply.com/en/stand-with-ukraine">We stand with Ukraine</a></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://drive.google.com/drive/folders/1CwkTCTD5zuloEG_iGMPwP28i7mFivEMl')">Media kit</button></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://lp.preply.com/affiliate/')">Affiliate program</button></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>For Students</h5>
              <ul class="list-unstyled">
                <li><a href="https://preply.com/en/blog/">Preply Blog</a></li>
                <li><a href="https://preply.com/en/questions">Questions and Answers</a></li>
                <li><a href="https://preply.com/en/student-discount">Student discount</a></li>
                <li><button class="btn btn-link p-0" onclick="nav('https://preply.com/en/referral')">Referral program</button></li>
                <li><a href="https://preply.com/en/language-tests/english">Test your English for free</a></li>
                <li><a href="https://preply.com/en/learn/english/test-your-vocab">Test your vocab</a></li>
                <li><a href="https://preply.com/en/learn/english/courses">Free English courses</a></li>
                <li><a href="https://preply.com/en/learn/discounts">Preply discounts</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>For Tutors</h5>
              <ul class="list-unstyled">
                <li><a class="menu-link" href="https://preply.com/en/teach">Become an online tutor</a></li>
                <li><a class="menu-link" href="https://preply.com/en/online/english-tutoring-jobs">Teach English online</a></li>
                <li><a class="menu-link" href="https://preply.com/en/online/french-tutoring-jobs">Teach French online</a></li>
                <li><a class="menu-link" href="https://preply.com/en/online/spanish-tutoring-jobs">Teach Spanish online</a></li>
                <li><a class="menu-link" href="https://preply.com/en/online/german-tutoring-jobs">Teach German online</a></li>
                <li><a class="menu-link" href="https://preply.com/en/online/tutoring-jobs">See all online tutoring jobs</a></li>
             
                </ul>
                </div>
    
                <div class="col-md-3">
                    <h5>FOR COMPANIES</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://preply.com/en/business-language-training">Corporate language training</a></li>
                        <li><a href="https://preply.com/en/corporate-english-training">Corporate English training</a></li>
                        <li><a href="https://preply.com/en/corporate-spanish-training">Corporate Spanish training</a></li>
                        <li><a href="https://preply.com/en/corporate-german-training">Corporate German training</a></li>
                        <li><a href="https://preply.com/en/corporate-french-training">Corporate French training</a></li>
                        <li><a href="https://preply.com/en/blog/for-businesses/">Corporate training blog</a></li>
                        <li><a href="https://preply.com/en/blog/resource-center/">Resource center</a></li>
                        <li><a href="https://preply.com/en/english-level-test-for-companies">English level test for companies</a></li>
                    
                      </ul>
                      </div>
    
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <h5>Support</h5>
                      <ul class="list-unstyled">
                        <li><a href="https://help.preply.com/en/">Need any help?</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h5>Contacts</h5>
                      <p>USA<br>1309 Beacon Street, Suite 300, Brookline, MA, 02446</p>
                    </div>
                    <div class="col-md-3">
                      <h5>Preply social</h5>
                      <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/preply" rel="nofollow">Facebook</a></li>
                        <li><a href="https://www.instagram.com/preply/" rel="nofollow">Instagram</a></li>
                        <li><a href="https://www.youtube.com/user/preplysite" rel="nofollow">Youtube</a></li>
                        <li><a href="https://www.linkedin.com/company/preply/" rel="nofollow">LinkedIn</a></li>
                        <li><a href="https://www.tiktok.com/@preplyglobal" rel="nofollow">TikTok</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Apps</h5>
                        <div class="d-flex">
                          <a href="https://apps.apple.com/us/app/preply-learn-languages/id1352790442" class="mr-3" aria-label="App store"><img src="https://static.preply.com/static/ssr/_next/static/images/app_store_badge_en-79b8b5a578eb1f4d7bf116fad64f53e6.svg" alt="App store" width="135" height="40"></a>
                          <a href="https://play.google.com/store/apps/details?id=com.preply" aria-label="Google play"><img src="https://static.preply.com/static/ssr/_next/static/images/google_play_badge_en-99874120ff7b66206b0188ae0e2801ac.png" alt="Google play" width="135" height="40"></a>
                        </div>
                      </div>
                  </div>
                
                </div>
                </footer>
    
                <div class="footer-group">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-3">
                            <h5>LEARN</h5>
                            <ul class="list-unstyled">
                              <li><a href="https://preply.com/en/learn/english">Learn English online</a></li>
                              <li><a href="https://preply.com/en/learn/spanish">Learn Spanish online</a></li>
                              <li><a href="https://preply.com/en/learn/french">Learn French online</a></li>
                              <li><a href="https://preply.com/en/learn/german">Learn German online</a></li>
                              <li><a href="https://preply.com/en/learn/italian">Learn Italian online</a></li>
                              <li><a href="https://preply.com/en/learn/">Learn another language</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <h5>ONLINE LANGUAGE CLASSES &amp; COURSES</h5>
                            <ul class="list-unstyled">
                              <li><a href="https://preply.com/en/classes/english">Online English classes</a></li>
                              <li><a href="https://preply.com/en/classes/spanish">Online Spanish classes</a></li>
                              <li><a href="https://preply.com/en/classes/french">Online French classes</a></li>
                              <li><a href="https://preply.com/en/classes/german">Online German classes</a></li>
                              <li><a href="https://preply.com/en/classes/chinese">Online Chinese classes</a></li>
                              <li><a href="https://preply.com/en/classes/japanese">Online Japanese classes</a></li>
                              <li><a href="https://preply.com/en/classes/turkish">Online Turkish classes</a></li>
                              <li><a href="https://preply.com/en/classes/portuguese">Online Portuguese classes</a></li>
                              <li><a href="https://preply.com/en/classes/polish">Online Polish classes</a></li>
                              <li><a href="https://preply.com/en/classes/arabic">Online Arabic classes</a></li>
                              <li><a href="https://preply.com/en/classes/russian">Online Russian classes</a></li>
                              <li><a href="https://preply.com/en/classes/italian">Online Italian classes</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <h5>1-ON-1 TUTORS</h5>
                            <ul class="list-unstyled">
                              <li><a href="https://preply.com/en/online/english-tutors">English Tutors</a></li>
                              <li><a href="https://preply.com/en/online/spanish-tutors">Spanish Tutors</a></li>
                              <li><a href="https://preply.com/en/online/french-tutors">French Tutors</a></li>
                              <li><a href="https://preply.com/en/online/german-tutors">German Tutors</a></li>
                              <li><a href="https://preply.com/en/online/arabic-tutors">Arabic Tutors</a></li>
                              <li><a href="https://preply.com/en/online/math-tutors">Math Tutors</a>
                                </li>
                                </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5>TUTORS NEAR YOU</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="https://preply.com/en/New-York-City-NY/all-tutors">Tutors in NYC</a></li>
                                        <li><a href="https://preply.com/en/Los-Angeles-CA/all-tutors">Tutors in Los Angeles</a></li>
                                        <li><a href="https://preply.com/en/Toronto-Canada/all-tutors">Tutors in Toronto</a></li>
                                        <li><a href="https://preply.com/en/London-UK/all-tutors">Tutors in London</a></li>
                                        <li><a href="https://preply.com/en/Sydney-Australia/all-tutors">Tutors in Sydney</a></li>
                                        <li><a href="https://preply.com/en/tutors-abroad">Tutors abroad</a></li>
                                        <li><a href="https://preply.com/en/near-me/english-tutors">English classes near me</a></li>
                                        <li><a href="https://preply.com/en/near-me/spanish-tutors">Spanish classes near me</a></li>
                                        <li><a href="https://preply.com/en/near-me/german-tutors">German classes near me</a></li>
                                        <li><a href="https://preply.com/en/near-me/french-tutors">French classes near me</a></li>
                                        <li><a href="https://preply.com/en/near-me/chinese-tutors">Chinese classes near me</a></li>
                                        <li><a href="https://preply.com/en/tutors-by-city">Tutors by city</a></li>
                                     
                                        </ul>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                      <p>&copy; 2012-2023 Preply Inc.</p>
                                    </div>
                                    <div class="col-12 col-md-8">
                                      <ul class="list-inline text-md-right mb-0">
                                        <li class="list-inline-item"><a href="/en/legal" class="text-muted">Legal Center</a></li>
                                        <li class="list-inline-item"><a href="https://termsofuse.preply.com/terms_of_use/en_PrivacyPolicy.pdf" class="text-muted">Privacy Policy</a></li>
                                        <li class="list-inline-item"><a href="https://termsofuse.preply.com/terms_of_use/en_CookiePolicy.pdf" class="text-muted">Cookie Policy</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                </div>
</div>
  
            <style>
                footer{
                    background: #384047;
    color: #e3e5e6;
    position: relative;
                }
                .footer-group{
                    background: #32393f;
    font-size: 12px;
                }
                .footer ul a{ align-items: center;
    color: #e3e5e6;
    cursor: pointer;
    
    text-decoration: none;}
    .footer .btn-link{
        align-items: center;
    background: none;
    border: none;
    color: #e3e5e6;
    cursor: pointer;
    display: flex;
    font: inherit;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    text-decoration: none;
    }
            </style>